/* Margen para los botones */

#a2 button {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 5px;
    margin-right: 5px;
    width: 180px;
    padding: 10px;
    border-radius: 4px;
}


/* Boton Default */

.a2-bck {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.a2-bck:hover {
    background-color: #000;
    font-size: 16px;
    font-weight: 600;
}


/*Fila 1*/


/* Boton 1-1: LightCoral */

.a2-1-1 {
    background-color: #FF0000;
    border: 1px solid #FF0000;
}

.a2-1-1:hover {
    background-color: black;
    color: #FF0000;
}


/* Boton 1-2 */

.a2-1-2 {
    background-color: #FF4000;
    border: 2px solid #FF4000;
}

.a2-1-2:hover {
    background-color: black;
    color: #FF4000;
}


/* Boton 1-3 */

.a2-1-3 {
    background-color: #FF8000;
    border: 2px solid #FF8000;
}

.a2-1-3:hover {
    background-color: black;
    color: #FF8000;
}


/* Boton 1-4 */

.a2-1-4 {
    background-color: #FFBF00;
    border: 2px solid #FFBF00;
}

.a2-1-4:hover {
    background-color: black;
    color: #FFBF00;
}


/* Boton 1-5 */

.a2-1-5 {
    background-color: #FFFF00;
    border: 2px solid #FFFF00;
}

.a2-1-5:hover {
    background-color: black;
    color: #FFFF00;
}


/* Boton 1-6 */

.a2-1-6 {
    background-color: #BFFF00;
    border: 2px solid #BFFF00;
}

.a2-1-6:hover {
    background-color: black;
    color: #BFFF00;
}


/* Boton 1-7 */

.a2-1-7 {
    background-color: #80FF00;
    border: 2px solid #80FF00;
}

.a2-1-7:hover {
    background-color: black;
    color: #80FF00;
}


/* Boton 1-8 */

.a2-1-8 {
    background-color: #40FF00;
    border: 2px solid #40FF00;
}

.a2-1-8:hover {
    background-color: black;
    color: #40FF00;
}


/* fila 2 */


/* Boton 2-1 */

.a2-2-1 {
    background-color: #00FF00;
    border: 2px solid #00FF00;
}

.a2-2-1:hover {
    background-color: black;
    color: #00FF00;
}


/* Boton 2-2 */

.a2-2-2 {
    background-color: #00FF40;
    border: 2px solid #00FF40;
}

.a2-2-2:hover {
    background-color: black;
    color: #00FF40;
}


/* Boton 2-3 */

.a2-2-3 {
    background-color: #00FF80;
    border: 2px solid #00FF80;
}

.a2-2-3:hover {
    background-color: black;
    color: #00FF80;
}


/* Boton 2-4 */

.a2-2-4 {
    background-color: #00FFBF;
    border: 2px solid #00FFBF;
}

.a2-2-4:hover {
    color: black;
    color: #00FFBF;
}


/* Boton 2-5 */

.a2-2-5 {
    background-color: #00FFFF;
    border: 2px solid #00FFFF;
}

.a2-2-5:hover {
    color: black;
    color: #00FFFF;
}


/* Boton 2-6 */

.a2-2-6 {
    background-color: #00BFFF;
    border: 2px solid #00BFFF;
}

.a2-2-6:hover {
    background-color: black;
    color: #00BFFF;
}


/* Boton 2-7 */

.a2-2-7 {
    background-color: #0080FF;
    border: 2px solid #0080FF;
}

.a2-2-7:hover {
    background-color: black;
    color: #0080FF;
}


/* Boton 2-8 */

.a2-2-8 {
    background-color: #0040FF;
    border: 2px solid #0040FF;
}

.a2-2-8:hover {
    background-color: black;
    color: #0040FF;
}


/* Fila 3 */


/* Boton 3-1*/

.a2-3-1 {
    background-color: #0000FF;
    border: 2px solid #0000FF;
}

.a2-3-1:hover {
    background-color: black;
    color: #0000FF;
}


/* Boton 3-2*/

.a2-3-2 {
    background-color: #4000FF;
    border: 2px solid #4000FF;
}

.a2-3-2:hover {
    background-color: black;
    color: #4000FF;
}


/* Boton 3-3*/

.a2-3-3 {
    background-color: #8000FF;
    border: 2px solid #8000FF;
}

.a2-3-3:hover {
    background-color: black;
    color: #8000FF;
}


/* Boton 3-4*/

.a2-3-4 {
    background-color: #BF00FF;
    border: 2px solid #BF00FF;
}

.a2-3-4:hover {
    background-color: black;
    color: #BF00FF;
}


/* Boton 3-5*/

.a2-3-5 {
    background-color: #FF00FF;
    border: 2px solid #FF00FF;
}

.a2-3-5:hover {
    background-color: black;
    color: #FF00FF;
}


/* Boton 3-6*/

.a2-3-6 {
    background-color: #FF00BF;
    border: 2px solid #FF00BF;
}

.a2-3-6:hover {
    background-color: black;
    color: #FF00BF;
}


/* Boton 3-7*/

.a2-3-7 {
    background-color: #FF0080;
    border: 2px solid #FF0080;
}

.a2-3-7:hover {
    background-color: black;
    color: #FF0080;
}


/* Boton 3-8*/

.a2-3-8 {
    background-color: #FF0040;
    border: 2px solid #FF0040;
}

.a2-3-8:hover,
.a2-3-8:active {
    background-color: black;
    color: #FF0040;
}