/* Margen para los botones */

#a2 button {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 180px;
    padding: 10px;
}


/* Boton Default */

.a2-bck {
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}

.a2-bck:hover {
    background-color: #000;
    font-size: 16px;
    font-weight: 600;
}


/*Fila 1*/


/* Boton 1-1 */

.a2-1-1 {
    background-color: #FF8080;
    border: 2px solid #FF8080;
}

.a2-1-1:hover {
    background-color: black;
    color: #FF8080;
}


/* Boton 1-2 */

.a2-1-2 {
    background-color: #FFFF80;
    border: 2px solid#FFFF80;
}

.a2-1-2:hover {
    background-color: black;
    color: #FFFF80;
}


/* Boton 1-3 */

.a2-1-3 {
    background-color: #80FF80;
    border: 2px solid #80FF80;
}

.a2-1-3:hover {
    background-color: black;
    color: #80FF80;
}


/* Boton 1-4 */

.a2-1-4 {
    background-color: #00FF80;
    border: 2px solid #00FF80;
}

.a2-1-4:hover {
    background-color: black;
    color: #00FF80;
}


/* Boton 1-5 */

.a2-1-5 {
    background-color: #80FFFF;
    border: 2px solid #80FFFF;
}

.a2-1-5:hover {
    background-color: black;
    color: #80FFFF;
}


/* Boton 1-6 */

.a2-1-6 {
    background-color: #0080FF;
    border: 2px solid #0080FF;
}

.a2-1-6:hover {
    background-color: black;
    color: #0080FF;
}


/* Boton 1-7 */

.a2-1-7 {
    background-color: #FF80C0;
    border: 2px solid #FF80C0;
}

.a2-1-7:hover {
    background-color: black;
    color: #FF80C0;
}


/* Boton 1-8 */

.a2-1-8 {
    background-color: #FF80FF;
    border: 2px solid #FF80FF;
}

.a2-1-8:hover {
    background-color: black;
    color: #FF80FF;
}


/* Boton 1-9 */

.a2-1-9 {
    background-color: #FF0000;
    border: 2px solid #FF0000;
}

.a2-1-9:hover {
    background-color: black;
    color: #FF0000;
}


/* Boton 1-10 */

.a2-1-10 {
    background-color: #FFFF00;
    border: 2px solid #FFFF00;
}

.a2-1-10:hover {
    background-color: black;
    color: #FFFF00;
}


/* fila 2 */


/* Boton 2-1 */

.a2-2-1 {
    background-color: #80FF00;
    border: 2px solid #80FF00;
}

.a2-2-1:hover {
    background-color: black;
    color: #80FF00;
}


/* Boton 2-2 */

.a2-2-2 {
    background-color: #00FF40;
    border: 2px solid #00FF40;
}

.a2-2-2:hover {
    background-color: black;
    color: #00FF40;
}


/* Boton 2-3 */

.a2-2-3 {
    background-color: #00FFFF;
    border: 2px solid #00FFFF;
}

.a2-2-3:hover {
    background-color: black;
    color: #00FFFF;
}


/* Boton 2-4 */

.a2-2-4 {
    background-color: #0080C0;
    border: 2px solid #0080C0;
}

.a2-2-4:hover {
    color: black;
    color: #0080C0;
}


/* Boton 2-5 */

.a2-2-5 {
    background-color: #8080C0;
    border: 2px solid #8080C0;
}

.a2-2-5:hover {
    color: black;
    color: #8080C0;
}


/* Boton 2-6 */

.a2-2-6 {
    background-color: #FF00FF;
    border: 2px solid #FF00FF;
}

.a2-2-6:hover {
    background-color: black;
    color: #FF00FF;
}


/* Boton 2-7 */

.a2-2-7 {
    background-color: #804040;
    border: 2px solid #804040;
}

.a2-2-7:hover {
    background-color: black;
    color: #804040;
}


/* Boton 2-8 */

.a2-2-8 {
    background-color: #FF8040;
    border: 2px solid #FF8040;
}

.a2-2-8:hover {
    background-color: black;
    color: #FF8040;
}


/* Boton 2-9 */

.a2-2-9 {
    background-color: #00FF00;
    border: 2px solid #00FF00;
}

.a2-2-9:hover {
    color: black;
    color: #00FF00;
}


/* Boton 2-10 */

.a2-2-10 {
    background-color: #008080;
    border: 2px solid #008080;
}

.a2-2-10:hover {
    background-color: black;
    color: #008080;
}


/* Fila 3 */


/* Boton 3-1*/

.a2-3-1 {
    background-color: #004080;
    border: 2px solid #004080;
}

.a2-3-1:hover {
    background-color: black;
    color: #004080;
}


/* Boton 3-2*/

.a2-3-2 {
    background-color: #8080FF;
    border: 2px solid #8080FF;
}

.a2-3-2:hover {
    background-color: black;
    color: #8080FF;
}


/* Boton 3-3*/

.a2-3-3 {
    background-color: #800040;
    border: 2px solid #800040;
}

.a2-3-3:hover {
    background-color: black;
    color: #800040;
}


/* Boton 3-4*/

.a2-3-4 {
    background-color: #FF0080;
    border: 2px solid #FF0080;
}

.a2-3-4:hover {
    background-color: black;
    color: #FF0080;
}


/* Boton 3-5*/

.a2-3-5 {
    background-color: #800000;
    border: 2px solid #800000;
}

.a2-3-5:hover {
    background-color: black;
    color: #800000;
}


/* Boton 3-6*/

.a2-3-6 {
    background-color: #FF8000;
    border: 2px solid #FF8000;
}

.a2-3-6:hover {
    background-color: black;
    color: #FF8000;
}


/* Boton 3-7*/

.a2-3-7 {
    background-color: #008000;
    border: 2px solid #008000;
}

.a2-3-7:hover {
    background-color: black;
    color: #008000;
}


/* Boton 3-8*/

.a2-3-8 {
    background-color: #008040;
    border: 2px solid #008040;
}

.a2-3-8:hover {
    background-color: black;
    color: #008040;
}


/* Boton 3-9*/

.a2-3-9 {
    background-color: #0000FF;
    border: 2px solid #0000FF;
}

.a2-3-9:hover {
    background-color: black;
    color: #0000FF;
}


/* Boton 3-10*/

.a2-3-10 {
    background-color: #0000A0;
    border: 2px solid #0000A0;
}

.a2-3-10:hover {
    background-color: black;
    color: #0000A0;
}


/* fila 4 */


/* Boton 4-1*/

.a2-4-1 {
    background-color: #800080;
    border: 2px solid #800080;
}

.a2-4-1:hover {
    background-color: black;
    color: #800080;
}


/* Boton 4-2*/

.a2-4-2 {
    background-color: #8000FF;
    border: 2px solid #8000FF;
}

.a2-4-2:hover {
    background-color: black;
    color: #8000FF;
}


/* Boton 4-3*/

.a2-4-3 {
    background-color: #400000;
    border: 2px solid #400000;
}

.a2-4-3:hover {
    background-color: black;
    color: #400000;
}


/* Boton 4-4*/

.a2-4-4 {
    background-color: #804000;
    border: 2px solid #804000;
}

.a2-4-4:hover {
    background-color: black;
    color: #804000;
}


/* Boton 4-5*/

.a2-4-5 {
    background-color: #004000;
    border: 2px solid #004000;
}

.a2-4-5:hover {
    background-color: black;
    color: #004000;
}


/* Boton 4-6*/

.a2-4-6 {
    background-color: #004040;
    border: 2px solid #004040;
}

.a2-4-6:hover {
    background-color: black;
    color: #004040;
}


/* Boton 4-7*/

.a2-4-7 {
    background-color: #000080;
    border: 2px solid #000080;
}

.a2-4-7:hover {
    background-color: black;
    color: #000080;
}


/* Boton 4-8*/

.a2-4-8 {
    background-color: #000040;
    border: 2px solid #000040;
}

.a2-4-8:hover {
    background-color: black;
    color: #000040;
}


/* Boton 4-9*/

.a2-4-9 {
    background-color: #400040;
    border: 2px solid #400040;
}

.a2-4-9:hover {
    background-color: black;
    color: #400040;
}


/* Boton 4-10*/

.a2-4-10 {
    background-color: #400080;
    border: 2px solid #400080;
}

.a2-4-10:hover {
    background-color: black;
    color: #400080;
}