{% extends "layout.html" %} 

{% block content2 %}
<title>Diseños-JECKA1997</title>
{% endblock %} 

{% block itenNav %}
<li class="nav-item">
  <a class="nav-link" href="/">Inicio</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="{{ url_for('diseños') }}">Diseños</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('acerca') }}">Acerca</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('contacto') }}">Contacto</a>
</li>
{% endblock %}

{% block cuerpo %}
<p>hh</p>
{% endblock %}